<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Edit Automata</h2>
    </div>

    <div ng-show="loading" class="loading">
      <p>Loading automata...</p>
    </div>

    <div ng-show="!loading">
      <div class="alert alert-error show" ng-show="error">{{ error }}</div>
      <div class="alert alert-success show" ng-show="success">
        {{ success }}
      </div>

      <form>
        <div class="form-group">
          <label for="name">Name *</label>
          <input type="text" id="name" ng-model="automata.name" required />
        </div>

        <div class="form-group">
          <label for="type">Type *</label>
          <select id="type" ng-model="automata.type" required>
            <option ng-repeat="t in types" value="{{ t }}">{{ t }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" ng-model="automata.description"></textarea>
        </div>

        <hr />
        <h3>Graphical State Machine Editor</h3>
        <div class="editor-instructions">
          <p><strong>How to use:</strong></p>
          <ul>
            <li>Click on the canvas to add states</li>
            <li>
              Click and drag from one state to another to create transitions
            </li>
            <li>Double-click on a state to rename it</li>
            <li>Right-click on a state or transition to delete it</li>
          </ul>
        </div>
        <div
          automata-graph-editor
          automata="automata"
          on-state-added="onStateAdded(state)"
          on-state-removed="onStateRemoved(stateId)"
          on-transition-added="onTransitionAdded(transition)"
          on-transition-removed="onTransitionRemoved(transition)"
        ></div>

        <hr />
        <h3>State Properties</h3>
        <div ng-show="automata.states.length > 0">
          <h4>Set Initial State:</h4>
          <select
            ng-model="automata.initialState"
            ng-options="(state.name || state.id) as (state.name || state.id) for state in automata.states"
          >
            <option value="">-- Select Initial State --</option>
          </select>
        </div>

        <div ng-show="automata.states.length > 0" style="margin-top: 15px">
          <h4>Set Accept States:</h4>
          <div class="list-group">
            <div class="list-group-item" ng-repeat="state in automata.states">
              <input
                type="checkbox"
                ng-model="acceptStateMap[state.name || state.id || state]"
                ng-change="updateAcceptStates()"
              />
              <label>{{ state.name || state.id || state }}</label>
            </div>
          </div>
        </div>

        <hr />
        <h3>Alphabet</h3>
        <div class="form-group">
          <label for="symbolInput">Add Symbol (optional)</label>
          <div>
            <input
              type="text"
              id="symbolInput"
              ng-model="symbolInput"
              placeholder="e.g., 0, 1"
            />
            <button
              type="button"
              class="btn btn-primary"
              ng-click="addSymbol()"
            >
              Add Symbol
            </button>
          </div>
        </div>

        <div ng-show="automata.alphabet.length > 0">
          <h4>Alphabet:</h4>
          <div class="list-group">
            <div
              class="list-group-item"
              ng-repeat="symbol in automata.alphabet"
            >
              {{ symbol }}
              <button
                type="button"
                class="btn btn-danger btn-sm"
                ng-click="removeSymbol(symbol)"
              >
                Remove
              </button>
            </div>
          </div>
        </div>

        <hr />
        <h3>Initial State & Transitions</h3>
        <div class="form-group">
          <label for="initialState">Initial State *</label>
          <select
            id="initialState"
            ng-model="automata.initialState"
            ng-options="(state.name || state.id) as (state.name || state.id) for state in automata.states"
            required
          >
            <option value="">-- Select Initial State --</option>
          </select>
        </div>

        <div class="form-group">
          <h4>Add Transitions</h4>
          <div>
            <label>From State:</label>
            <select
              ng-model="transitionFrom"
              ng-options="(state.name || state.id) as (state.name || state.id) for state in automata.states"
            >
              <option value="">-- Select --</option>
            </select>
          </div>
          <div>
            <label>To State:</label>
            <select
              ng-model="transitionTo"
              ng-options="(state.name || state.id) as (state.name || state.id) for state in automata.states"
            >
              <option value="">-- Select --</option>
            </select>
          </div>
          <div>
            <label>Symbol:</label>
            <select
              ng-model="transitionSymbol"
              ng-options="symbol for symbol in automata.alphabet"
            >
              <option value="">-- Select --</option>
            </select>
          </div>
          <button
            type="button"
            class="btn btn-primary"
            ng-click="addTransition()"
          >
            Add Transition
          </button>
        </div>

        <div ng-show="automata.transitions.length > 0">
          <h4>Transitions:</h4>
          <table>
            <thead>
              <tr>
                <th>From</th>
                <th>Symbol</th>
                <th>To</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="t in automata.transitions">
                <td>{{ t.from }}</td>
                <td>{{ t.symbol }}</td>
                <td>{{ t.to }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    ng-click="removeTransition($index)"
                  >
                    Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <hr />
        <div class="form-group">
          <button
            type="button"
            class="btn btn-success"
            ng-click="updateAutomata()"
          >
            Update Automata
          </button>
          <button type="button" class="btn btn-secondary" ng-click="cancel()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
