<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Edit Automata</h2>
    </div>

        <div ng-include="'views/automata-form.html'"></div>
                    Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <hr />
        <div class="form-group">
          <button
            type="button"
            class="btn btn-success"
            ng-click="updateAutomata()"
          >
            Update Automata
          </button>
          <button type="button" class="btn btn-secondary" ng-click="cancel()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
